.btn-theme {
  background-color: var(--theme-color);
  border-color: var(--theme-color);
  color: #fff;
}

.btn-theme:hover {
  background-color: var(--theme-color);
  border-color: var(--theme-color);
  color: #fff;
}
